h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

button {
  font-size: 20px;
  height: 100px;
  width: 400px;
  margin: 20px;
}

.button-container {
  display: flex; /* Делаем родительский элемент flex-контейнером */
  justify-content: space-between; /* Равномерно распределяем кнопки по ширине */
}

#back_to_main {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 0px;
  left: 10px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease-in-out;
}

#back_to_main:hover {
  transform: scale(1.1);
  cursor: pointer;
}
