<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="shortcut icon"
    href="{{ url_for('main_page.static', filename='catIcon.ico') }}"
    type="image/x-icon"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('main_page.static', filename='styles.css') }}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('clusterization.static', filename='style.css') }}"
    type="text/css"
  />
    <title>WebCam Algos Clusterization</title>
  </head>
  <body>

    <div class="head">
      <div class="logo">
        <button
          id="back_to_main"
          type="button"
          onclick="location.href='/main_page/'"
        >
          <img
            src="{{ url_for('main_page.static', filename='icons/logo.png') }}"
            alt="logo"
            width="357px"
            height="90px"
          />
        </button>
      </div>

      <div class="rectangle">
        <div class="icons-container">
          <button
            class="image-button"
            type="button"
            onclick="location.href='/astar_algorithm/astar'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/astar.png') }}"
              alt="A*"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/clusterization/clusterization'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/clusterization.png') }}"
              alt="clust"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/genetic_algorithm/genetic'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/genetic.png') }}"
              alt="genetic"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/ant_algorithm/ant'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/ant.png') }}"
              alt="ant"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/decision_tree/tree'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/tree.png') }}"
              alt="tree"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/neural_network/neuro'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/neuro.png') }}"
              alt="clust"
              width="59px"
              height="59px"
            />
          </button>
        </div>
      </div>
    </div>

    <div class="name"><h2>Алгоритм кластеризации!</h2></div>

    <div class = "main-container">
      <div class="instructions">
        <h3>Инструкция</h3>
        <p>Введите количество кластеров от 1 до 8:</p>
        <input type = "number" name = "name" placeholder = "Введите число" id = "numberClust" min="1" max="8"></input><br>
        <p>Расставьте точки на плоскости</p>
        <p>Запустите алгоритм</p>
        <button id="clusterButton">Запустить кластеризацию</button>
      </div>
      <div class ="canvas-container">
        <canvas id = "canvas" width = "500" height = "500"></canvas>
      </div>
    </div>
    <script src="{{ url_for('clusterization.static', filename='app.js') }}"></script>
  </body>
</html>