<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('main_page.static', filename='catIcon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('main_page.static', filename='styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('AStar_algorithm.static', filename='styleAStar.css') }}"
      type="text/css"
    />

    <title>WebCam Algos A*</title>
  </head>
  <body>
    <div class="head">
      <div class="logo">
        <button
          id="back_to_main"
          type="button"
          onclick="location.href='/main_page/'"
        >
          <img
            src="{{ url_for('main_page.static', filename='icons/logo.png') }}"
            alt="logo"
            width="357px"
            height="90px"
          />
        </button>
      </div>

      <div class="rectangle">
        <div class="icons-container">
          <button
            class="image-button"
            type="button"
            onclick="location.href='/astar_algorithm/astar'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/astar.png') }}"
              alt="A*"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/clusterization/clusterization'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/clusterization.png') }}"
              alt="clust"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/genetic_algorithm/genetic'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/genetic.png') }}"
              alt="genetic"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/ant_algorithm/ant'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/ant.png') }}"
              alt="ant"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/decision_tree/tree'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/tree.png') }}"
              alt="tree"
              width="59px"
              height="59px"
            />
          </button>
          <button
            class="image-button"
            type="button"
            onclick="location.href='/neural_network/neuro'"
          >
            <img
              src="{{ url_for('main_page.static', filename='icons/neuro.png') }}"
              alt="clust"
              width="59px"
              height="59px"
            />
          </button>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="left-container">
        <div class="name"><h2>Алгоритм А*!</h2></div>
        <div class="range-container">
          <p>Размер поля:</p>
          <input type="range" min="4" max="40" id="gridSize" />
          <p id="showSize">22</p>
        </div>

        <div class="range-container">
          <p>Скорость анимации:</p>
          <input type="range" min="0" max="100" id="timeout" />
          <p id="showTimeout">50</p>
        </div>

        <h3>Выберите инструмент:</h3>
        <div class="button-container">
          <div class="button-row">
            <button id="selectStart">Старт</button>
            <button id="selectEnd">Финиш</button>
            <button id="drawObstacles">Препятствия</button>
          </div>
          <div class="button-row">
            <button id="randomizeObstacles">Рандомные препятствия</button>
            <button id="refreshGrid">Очистить</button>
          </div>
          <button id="generatePath">Запустить</button>
        </div>
      </div>

      <div class="right-container">
        <div id="gridContainer"></div>
      </div>
    </div>

    <script src="{{ url_for('AStar_algorithm.static', filename='scriptAStar.js') }}"></script>
  </body>
</html>
