<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('main_page.static', filename='catIcon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('main_page.static', filename='styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('genetic_algorithm.static', filename='genetic.css') }}"
      type="text/css"
    />

    <title>WebCam Algos genetic</title>
  </head>
  <body>
    <h1>Генетический алгоритм!</h1>

    <button
      type="button"
      onclick="location.href='/main_page/'"
      id="back_to_main"
    >
      <img
        src="{{ url_for('main_page.static', filename='Undo-Transparent-Background.png') }}"
        alt="в главное меню"
        width="60px"
        height="60px"
      />
    </button>
    <button id="geneticButton" style="width: 260px; height: 80px;">Запустить алгоритм</button>
    <canvas id = "canvas" width = "650" height = "650"></canvas>
    <script src = "{{ url_for('genetic_algorithm.static', filename='geneticCode.js') }}"></script>
  </body>
</html>
