<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genetic Algorithm</title>

    <link
      rel="shortcut icon"
      href="{{ url_for('main_page.static', filename='catIcon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('main_page.static', filename='styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('genetic_algorithmPRO.static', filename='style.css') }}"
      type="text/css"
    />
  </head>
  <body>
    <h1>Генетический алгоритм PRO</h1>

    <button
      type="button"
      onclick="location.href='/genetic_algorithm/genetic'"
      id="back_to_main"
    >
      <img
        src="{{ url_for('main_page.static', filename='Undo-Transparent-Background.png') }}"
        alt="в базовый генетический"
        width="60px"
        height="60px"
      />
    </button>

    <input type="number" id="genetic_number" value="10" min="1" max="1000" />
    <button id="start">Запустить</button>
    <button id="clear">Очистить</button>
    <div id="output"></div>
    <div id="answer"></div>
    <div id="description">Идет поиск решения...</div>

    <script src="{{ url_for('genetic_algorithmPRO.static', filename='script.js') }}"></script>
  </body>
</html>
