@font-face {
  font-family: "Widock TRIAL";
  src: url("fonts/Widock_TRIAL_Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

body {
  background: linear-gradient(133deg, #0c101c 25.73%, #482248 110.74%);
  display: flex;
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-family: "Widock TRIAL";
  font-size: 120px;
  line-height: 110px;
}

.name {
  position: absolute;
  top: 54%;
  left: 4%;
  width: 1255px;
  height: 197px;
  flex-shrink: 0;
}
