/* body {
  font-family: Verdana, sans-serif;
  background: linear-gradient(to right, orange, pink);
} */

/* 
h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
} */

/* button {
  font-size: 20px;
  height: 100px;
  width: 400px;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
} */

#back_to_main {
  background: transparent;
  border: none;
}

#back_to_main:hover {
  transform: scale(1.1);
  cursor: pointer;
}
