<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="../static/catIcon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/style.css" type="text/css" />

    <title>WebCam Algos Neuro</title>
  </head>
  <body>
    <h1>Нейронная сеть!&#128565;</h1>

    <button
      type="button"
      onclick="location.href='../index.html'"
      id="back_to_main"
    >
      <img
        src="../static/Undo-Transparent-Background.png"
        alt="в главное меню"
        width="60px"
        height="60px"
      />
    </button>

    <h2>Нарисуйте цифру:</h2>
    <div class="canvas-container">
      <canvas id="drawingCanvas" width="300" height="300"></canvas>
    </div>

    <p id="result">Результат:</p>

    <button onclick="predictDigit()">Распознать</button>
    <button onclick="clearCanvas()">Очистить</button>
  </body>
  <script src="../static/script.js"></script>
</html>
