<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('main_page.static', filename='catIcon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('main_page.static', filename='styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('neural_network.static', filename='style.css') }}"
      type="text/css"
    />

    <title>WebCam Algos Neuro</title>
  </head>
  <body>
    <h1>Нейронная сеть!&#128565;</h1>

    <button
      type="button"
      onclick="location.href='/main_page/'"
      id="back_to_main"
    >
      <img
        src="{{ url_for('main_page.static', filename='Undo-Transparent-Background.png') }}"
        alt="в главное меню"
        width="60px"
        height="60px"
      />
    </button>

    <h2>Нарисуйте цифру:</h2>
    <div class="range-container">
      <p>Current line width:</p>
      <input type="range" min="10" max="30" value="10" id="lineWidth" />
      <p id="showLineWidth">22</p>
    </div>

    <div class="canvas-container">
      <canvas id="drawingCanvas" width="750" height="400"></canvas>
    </div>

    <p id="result">Результат:</p>
    <p id="probabilities">Вероятности:</p>

    <div class="button-container">
      <button onclick="predictDigit()">Распознать</button>
      <button onclick="clearCanvas()">Очистить</button>
    </div>
  </body>
  <script src="{{ url_for('neural_network.static', filename='script.js') }}"></script>
</html>
