<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('main_page.static', filename='catIcon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('main_page.static', filename='styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('decision_tree.static', filename='decisionTree.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('decision_tree.static', filename='dropdownMenu.css') }}"
      type="text/css"
    />

    <title>Дерево решений</title>
  </head>
  <body>
    <button
      type="button"
      onclick="location.href='/main_page/'"
      id="back_to_main"
    >
      <img
        src="{{ url_for('main_page.static', filename='Undo-Transparent-Background.png') }}"
        alt="в главное меню"
        width="60px"
        height="60px"
      />
    </button>
    <div class="fileInputDiv">
      <input id="fileInput" type="file" />
    </div>
    <div class="container">
      <label class="title">Дерево решений</label>
      <div class="main-container">
        <!-- Левая группа кнопок -->
        <div id="buttons">
          <button>
            <label id="fileInputButton" for="fileInput">Загрузить файл</label>
          </button>
          <div class="dropdown">
            <button class="dropdown-button">Выбрать пример</button>
            <div class="dropdown-content">
              <a href="#" id="firstButton">1</a>
              <a href="#" id="secondButton">2</a>
              <a href="#" id="thirdButton">3</a>
              <a href="#" id="fourthButton">4</a>
            </div>
          </div>
          <button id="makeTree">Построить дерево</button>
          <button id="deleteTree">Очистить</button>
        </div>

        <!-- Центральная область для дерева -->
        <div id="tree" class="tree-container">
          <ul id="root"></ul>
        </div>

        <!-- Правая группа элементов -->
        <div class="right-panel">
          <!-- Блок для пользовательского ввода и обхода дерева -->
          <div class="traversal-block">
            <h4>Обход дерева с данными:</h4>
            <input type="text" id="userInput" placeholder="Введите данные" />
            <button id="userBypass">Обойти дерево</button>
          </div>

          <!-- Блок для предсказаний -->
          <div id="predictionContainer" class="prediction-container">
            <h4>Предсказание на новых данных:</h4>
            <div id="result"></div>
            <div id="inputFormContainer"></div>
          </div>
        </div>
      </div>

      <!-- Легенда -->
      <div class="legend">
        <h4>Легенда:</h4>
        <div class="legend-items">
          <div class="legend-item">
            <span class="visited-node"></span>
            <span>Посещенный узел</span>
          </div>
          <div class="legend-item">
            <span class="alternate-path"></span>
            <span>Альтернативный путь </span>
          </div>
        </div>
      </div>
    </div>

    <script
      src="{{ url_for('decision_tree.static', filename='visualization.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('decision_tree.static', filename='field.js') }}"
      type="module"
    ></script>
  </body>
</html>
