body {
  background: linear-gradient(313deg, #0c101c 31.27%, #482a22 109.76%);
  display: flex;
  min-height: 100vh;
}

.main-container {
  position: absolute;
  display: flex;
  width: 100%;
  top: 13%;
  gap: 10%;
}

.right-container {
  width: 62%;
  position: absolute;
  padding-top: 5%;
  right: 6%;
}

.left-container {
  width: 38%;
  position: absolute;
  top: 5%;
  left: 4%;
}

input[type="range"] {
  flex-grow: 1;
}

.range-container,
.selection-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.button-container button {
  height: 56px;
  border-radius: 40px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 3.5%;
  width: 70%;
  margin-bottom: 2%;
}

#selectStart {
  width: 20%;
}
#selectEnd {
  width: 30%;
}
#drawObstacles {
  width: 50%;
}
#randomizeObstacles {
  width: 70%;
}
#refreshGrid {
  width: 30%;
}
#generatePath {
  width: 70%;
}

#gridContainer {
  display: grid;
  gap: 1px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 500px;
  height: 500px;
}

.cell {
  border: 1px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s;
  position: relative;
}

.cell:hover {
  background-color: #eee;
}

.obstacle {
  background-color: #444;
}

.start {
  background-color: #2ecc71;
}

.goal {
  background-color: #e74c3c;
}

.path {
  background-color: #482a22;
}

.closed {
  background-color: chocolate;
}

.open {
  background-color: rgb(255, 131, 42);
}
